@import '../../global/utils/init';

.hero {
  padding: 0 0 0 25px;
  position: relative;

  @include breakpoint($bp-sm) {
    padding: 0 25px;
  } 
}

.hero__content-wrapper {
  display: flex;
  justify-content: flex-end;
  min-height: 460px;
  position: relative;
  z-index: $zi-lowest;

  @include breakpoint($bp-sm) {
    justify-content: flex-start;
    min-height: 560px;
    padding-bottom: 0;
  }

  @include breakpoint($bp-md) {
    min-height: 660px;
  }
}

.hero__content {
  @include vertical-align(absolute);
  left: 0;
  top: calc(50% - 12px);
  width: 100%;
}

.hero__content-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: $zi-lowest;

  &::before {
    background-color: $color-sunshine-yellow;
    content: '';
    height: 100%;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 200vw;
    z-index: $zi-ground;

    @include breakpoint($bp-sm) {
      right: calc(25% + 25px);
    }
  }
}

.hero__content-container-inner {
  background-color: $color-white;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
  padding: 25px;
  position: relative;
  z-index: $zi-lowest;

  @include breakpoint($bp-sm) {
    width: 75%;
  }
}

.hero__image,
.hero__background {
  @include overlay(0.75);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -120px;
  z-index: $zi-ground;

  img {
    @include vertical-horizontal-center;
    height: 100%;
    max-width: none;
    width: auto;
    z-index: $zi-ground;

    @include breakpoint($bp-lg) {
      height: 100%;
      width: auto;
    }
    @include breakpoint($bp-xlg) {
      height: auto;
      width: 100%;
    }
  }

  .hero--short & img {
    height: 125%;

    @include breakpoint($bp-xlg) {
      height: auto;
      width: 100%;
    }
  }
}

.hero__image {
  @include overlay(0.25);
}

.hero__bgvideo {
  @include vertical-horizontal-center;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  transition: opacity $motion-slow;
  z-index: 0;

  &.video-loaded {
    opacity: 1;
  }
}

.hero__heading {
  @include wire-large-heading;
  margin-bottom: 0.5rem;

  @include breakpoint($bp-xsm) {
    margin-bottom: 1rem;
  }
}

.hero__eyebrow {
  color: $color-navy-blue;
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @include breakpoint($bp-xsm) {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.hero__body {
  font-size: 1.5rem;
  line-height: 1.625;
  margin-bottom: 25px;
  margin-top: 25px;

  @include breakpoint($bp-xsm) {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.media-item {
  position: absolute;
}
