@import '../../global/utils/init';

.hero {
  position: relative;
}

.hero__content {
  @include center-align(absolute);
  left: 33%;
  background: $color-white;
  margin-right: -50%;
  max-width: 95%;
  padding: 2rem;
  box-shadow:-33px 20px 0 0 $color-sunshine-yellow;
  text-align: left;
  top: 85%;
  left: 50%;
  margin-top: 3rem;

  @include breakpoint($bp-xsm) {
    top: 60%;
    left: 33%;
    max-width: 900px;
    padding: 4rem 5rem;
    margin-top: 0;
    box-shadow: -250px 27px 0 4px $color-sunshine-yellow;
    
  }
}

.hero__image,
.hero__background {
  @include overlay(0.75);
  @include vertical-horizontal-center;
  height: 500px;
  overflow: hidden;
  width: 100%;
  z-index: $zi-ground;

  img {
    @include vertical-horizontal-center;
    height: 100%;
    max-width: none;
    z-index: $zi-ground;

    @include breakpoint($bp-lg) {
      height: 125%;
    }
  }

  .hero--short & img {
    height: 125%;

    @include breakpoint($bp-xlg) {
      height: auto;
      width: 100%;
    }
  }
}

.hero__bgvideo {
  @include vertical-horizontal-center;
  z-index: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  transition: opacity $motion-slow;

  &.video-loaded {
    opacity: 1;
  }
}

.hero__heading {
  @include wire-large-heading;
  margin-bottom: 0.5rem;

  @include breakpoint($bp-xsm) {
    margin-bottom: 1rem;
  }
}

.hero__eyebrow {
  color: $color-navy-blue;
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @include breakpoint($bp-xsm) {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.hero__body {
  font-size: 1rem;
  line-height: 1.625;
  margin-bottom: 0.5rem;

  @include breakpoint($bp-xsm) {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
