@import 'src/global/utils/init';
@import 'src/global/utils/init';

.header {
  position: relative;
  z-index: $zi-highest;
  background: rgba( 255,255,255, 0.85 );

  // Removes header bg when scrolled to very top
  .headroom--top {
    background: transparent;
  }
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: $zi-high;

  @include breakpoint($bp-lg) {
    max-width: $c-max-width;
  }
}

.header__brand {
  background-color: $color-navy-blue;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: background-color $motion-fast;
  height: 70px;
  width: 100px;
  z-index: $zi-highest;

  @include breakpoint($bp-lg) {
    margin-right: 30px;
    width: 155px;
    height: 100px;

    // Updates styles when header is sticky
    // and not at the very top of the chrome
    .headroom--not-top.headroom--pinned & {
      height: 65px;
      bottom: 0;
    }
  }

  .js-open & {
    background-color: transparent;

    @include breakpoint($bp-sm) {
      background-color: $color-navy-blue;
    }
  }
}

.header__brand {
  display: block;
  fill: $color-white;
  height: 41px;
  margin: 0 auto;
  transition: fill $motion-fast;
  width: 68px;

  @include breakpoint($bp-lg) {
    height: 62px;
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;

    // Updates styles when header is sticky
    // and not at the very top of the chrome
    .headroom--not-top.headroom--pinned & {
      height: 40px;
      width: 65px;
    }
  }

  .js-open & {
    fill: $color-white;

    @include breakpoint($bp-sm) {
      fill: $color-white;
    }
  }
}

.header__nav-toggle {
  background: transparent;
  border: 0;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 20px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  z-index: $zi-highest;

  @include breakpoint($bp-sm) {
    margin-right: 30px;
  }

  @include breakpoint($bp-lg) {
    display: none;
    left: -1000em;
    margin: 0;
    position: absolute;
  }

  &:focus,
  &:hover {
    background-color: transparent;
  }

  .js-open & {
    height: 54px;
    width: 52px;
  }
}

.header__nav-toggle-bar {
  background-color: $color-white;
  border-radius: 4px;
  display: block;
  height: 2px;
  margin-bottom: 8px;
  transition: transform $motion-fast;
  width: 42px;

  .js-open & {
    background-color: $color-navy-blue;
  }

  .js-open &:first-child {
    left: 5px;
    position: absolute;
    top: 25px;
    transform: rotate(45deg);
  }

  .js-open &:nth-child(3) {
    right: 5px;
    position: absolute;
    top: 25px;
    transform: rotate(-45deg);
  }

  .js-open &:nth-child(2) {
    opacity: 0;
    transition: opacity $motion-fast;
  }
}

.header__nav-toggle-text {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  transition: opacity $motion-fast;

  .js-open & {
    opacity: 0;
  }
}

.header__nav-wrapper {
  @include clearfix;
  box-shadow: -1px 1px 10px $color-navy-blue;
  background-color: $color-white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  position: absolute;
  justify-content: space-between;
  right: -200%;
  top: 0;
  transition: right $motion-fast;
  width: 100%;

  @include breakpoint($bp-sm) {
    border-radius: 0 0 0 10px;
    display: block;
    width: 66.66%;
  }

  @include breakpoint($bp-lg) {
    box-shadow: none;
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    position: static;
    right: auto;
    width: 100%;
  }

  &[hidden] {
    visibility: hidden;

    @include breakpoint($bp-lg) {
      visibility: visible;
    }
  }

  .js-open & {
    right: 0;

    @include breakpoint($bp-lg) {
      right: auto;
    }
  }
}

.header__main-menu {
  box-sizing: border-box;
  order: 1;
  padding: 0 20px;
  width: 100%;

  @include breakpoint($bp-sm) {
    float: left;
    padding: 0 40px;
    width: 50%;
  }

  @include breakpoint($bp-lg) {
    flex: 1 0 auto;
    float: none;
    padding: 0;
    width: auto;

    // Updates styles when header is sticky
    // and not at the very top of the chrome
    .headroom--not-top.headroom--pinned & {
      margin-top: 0;
    }
  }
}

.header__secondary-nav {
  box-sizing: border-box;
  order: 1;
  padding: 0 20px;
  width: 100%;

  @include breakpoint($bp-sm) {
    float: left;
    padding: 0 40px;
    width: 50%;
  }

  @include breakpoint($bp-lg) {
    display: none;
    left: -1000em;
    position: absolute;
  }
}

.header__utilities {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  order: 0;
  padding: 0 20px;
  width: 100%;

  @include breakpoint($bp-sm) {
    float: left;
    order: 1;
    padding: 0 40px;
    width: 50%;
  }

  @include breakpoint($bp-lg) {
    align-items: center;
    flex: 0 1 auto;
    flex-direction: row;
    float: none;
    justify-content: flex-end;
    padding: 0;
    width: auto;
  }

  @include breakpoint($bp-xlg) {
    flex: 0 1 35%;
  }
}

.header__search {
  margin: 0 0 20px;

  @include breakpoint($bp-lg) {
    margin: 0;
    padding-right: 12px;
    width: 200px;

    // Updates styles when header is sticky
    // and not at the very top of the chrome
    .headroom--not-top.headroom--pinned & {
      margin: 0;
    }
  }

  @include breakpoint($bp-xlg) {
    padding-right: 0;
    width: 100%;
  }
}

.header__contact-button {
  text-align: center;

  @include breakpoint($bp-xlg) {
    position: absolute;
    right: -155px;
    top: 32px;

    .headroom--not-top.headroom--pinned & {
      top: 12px;
    }
  }

  .button {
    display: block;
    font-size: 1.4rem;
    margin: 0 auto 20px;
    max-width: 230px;
    padding: 8px 20px;
    text-align: center;

    &:hover,
    &:focus {
      border-color: $color-navy-blue;
      background-color: $color-white;
      color: $color-navy-blue;
    }

    @include breakpoint($bp-lg) {
      @include cta-ghost;
      display: inline-block;
      text-align: center;
      margin: 0;
      width: auto;
    }

    @include breakpoint($bp-xlg) {
      width: 160px;
      padding: 10px;
    }
  }
}

// Sticky header uses http://wicky.nillia.ms/headroom.js/
.headroom {
  will-change: transform;
  transition: transform 0.6s linear;
}

.headroom--top {
  background: transparent;
}

.headroom--pinned.headroom--not-top {
  background: $color-navy-blue;
  position: fixed;
  transform: translateY(0%);
  width: 100%;
  transition: 300ms linear;
}

.headroom--unpinned {
  transform: translateY(-100%);

  // Offsets space no longer taken by fixed header
  // and removes jumping of page
  body & {
    margin-top: -70px;
  }
}
