// Colors

// Main Colors
$color-navy-blue: #012635;
$color-gray-overlay: #4a4a4a;
$color-sunshine-yellow: #E4B038;
$color-basic-gray: #d8d8d8;
$color-barely-gray: #f2f0f0;

// Primary
$color-primary: #e74c3c;
$color-rio-grande: #c4d600;
$color-oslo-gray: #888b8d;
$color-white: #FFF;
$color-black: #404040;
$color-blue: #3300CC;
$color-req-red: #D0021B;
$color-green: #4aa564;
$color-red: #cd2026;

// Grays
$color-tundora: #464646;
$color-silver: #bbb;
$color-alto: #ddd;
$color-light-gray: #eee;
$color-lighter-gray: #f7f7f7;

// Supporting colors for messages
$color-green: #77b259;
$color-dark-green: #325e1c;
$color-light-green: #f3faef;
$color-red: #a51b00;
$color-orange: #e62600;
$color-pink: #fcf4f2;
$color-beige: #fdf8ed;
$color-brown: #734c00;

// Primary Brand Colors
$color-ocean-blue: #003954;
$color-bahama-blue: #016397;
$color-gold: #A16C00;
$color-yellow: #E4B038;

// Grays, Black and White
$color-black: #000;
$color-gray: #333333;
$color-gray-light: #666666;
$color-gray-bomber: #b2b2b2;
$color-gray-lighter: #EAEAEA;
$color-gray-lightest: #f9f9f9;
