// Card
//
// This is the Card component.
// 2 varaiations are included.
//
// .card--wide - A variation of the Card with row layout.
//
// Markup: card.twig
//
// Style guide: Components.Card

// Import site utilities.
@import '../../global/utils/init';

// Styling for the cards with the icons.
.card-list {
  .card {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card__icon {
    align-items: center;
    border: 2px solid $color-navy-blue;
    border-radius: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
    margin-bottom: 20px;

    .svg {
      max-height: 100px;
      max-width: 100px;
      margin-bottom: 10px;
    }
  }
  .card__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      @include font-secondary;
      font-size: 2.6rem;
      margin: 2rem;
      font-weight: normal;
      text-align: center;
      width: fit-content;
      align-items: center;
    }

    .eyebrow {
      border-bottom: 3px solid $color-sunshine-yellow;
    }
  }
}


// Styles for the wide cards.
.card.wide,
.card.wide_right {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;

  @include breakpoint($bp-md) {
    flex-direction: row;
    margin: 50px auto;
  }

  .card__content {
    padding-top: 30px;

    @include breakpoint($bp-xsm) {
      padding-top: 10px;
      padding-bottom: 40px;
      margin: 0 auto;
    }

    @include breakpoint($bp-md) {
      width: calc(50% - 70px);
    }

    .card__heading {
      @include font-secondary;
      font-size: 2.6rem;
      margin-bottom: 25px;
      border-bottom: 10px solid $color-sunshine-yellow;
      font-weight: normal;
      text-align: left;
      width: fit-content;
    }

    h4 {
      font-size: 2.6rem;
      font-weight: 100;
      text-align: left;
    }
    .eyebrow {
      border: 0;
      margin-bottom: 5px;
    }
  }

  h4 {
    text-align: left;
    padding-bottom: 10px;
  }

  .body-text {
    text-align: left;
    margin-bottom: 35px;
  }

  .card__icon {
    border: 0;
  
    @include breakpoint($bp-md) {
      width: 50%;
    }
  }
  .png {
    max-width: 100%;
  }
}

.card.wide_right {

  .card__content {

    @include breakpoint($bp-md) {
      order: 1;
    }
  }

  .card__icon {
    @include breakpoint($bp-md) {
      order: 2;
      padding-left: 50px;
    }
  }
}

.card__link {
  display: initial;
  margin-top: 1.5rem;
}

.card.eyebrow {
  color: $color-navy-blue;
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  border-bottom: 3px solid $color-sunshine-yellow;

  @include breakpoint($bp-xsm) {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}