// Card
//
// This is the Card component.
// 2 varaiations are included.
//
// .card--wide - A variation of the Card with row layout.
//
// Markup: card.twig
//
// Style guide: Components.Card

// Import site utilities.
@import '../../global/utils/init';

.card {
  clear:both;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.wide_right {
    display: flex;
  }
  &.wide {
    display: flex;

    @include breakpoint($bp-xsm) {
      flex-direction: row;
    }
  }

  .card__icon {
    flex: 1;
    display: flex;
    border: 2px solid $color-navy-blue;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  
    .svg {
      max-height: 100px;
      margin-bottom: 10px;
    }
  }
}

.wide {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  justify-content: center;
  margin-top: 50px;

  @include breakpoint($bp-xsm) {
    flex-direction: row;
    margin: 0 auto;
  }

  .card__link {
    display: initial;
    margin: 25px 0 25px 10px;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 650px;
    padding-top: 30px;

    @include breakpoint($bp-xsm) {
      align-items: flex-start;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 40px;
    }

    h3 {
      font-size: 2.6rem;
      margin-bottom: 25px;
      border-bottom: 10px solid #E4B038;
      font-weight: 700;

      @include breakpoint($bp-xsm) {
        font-size: 6rem;
      }
    }

    h4 {
      font-size: 2.6rem;
      font-weight: 100;

    }
    .eyebrow {
      border: 0;
      margin-bottom: 5px;
    }
  }

  h4 {
    text-align: center;
    padding-bottom: 10px;

    @include breakpoint($bp-xsm) {
      text-align: left;
    }
  }

  .body-text {
    text-align: center;
    width: 400px;

    @include breakpoint($bp-xsm) {
      text-align: left;
      width: 500px;
    }
  }

  .card__icon {
    border: 0;
    
    @include breakpoint($bp-xsm) {
      margin-right: 50px;
      max-width: 650px;
    }
  }
  .png {
    max-width: 650px;

    @include breakpoint($bp-xsm) {
      width: 650px;
    }
  }
}

.wide_right {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;

  @include breakpoint($bp-xsm) {
    flex-direction: row;
    margin: 50px auto;
  }

  .card__link {
    display: initial;
    margin: 25px 0 25px 10px;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 650px;
    padding-top: 30px;
    

    @include breakpoint($bp-xsm) {
      padding-top: 10px;
      padding-bottom: 40px;
      margin-right: 50px;
      align-items: flex-start;
    }

    h3 {
      font-size: 2.6rem;
      margin-bottom: 25px;
      border-bottom: 10px solid #E4B038;
      font-weight: 700;

      @include breakpoint($bp-xsm) {
        font-size: 6rem;
      }
    }

    h4 {
      font-size: 2.6rem;
      font-weight: 100;
    }
    .eyebrow {
      border: 0;
      margin-bottom: 5px;
    }
  }

  h4 {
    text-align: left;
    padding-bottom: 10px;
  }

  .body-text {
    text-align: left;
    width: 500px;
  }

  .card__icon {
    border: 0;
    
    @include breakpoint($bp-xsm) {
      margin-right: 50px;
      max-width: 650px;
    }
  }
  .png {
    max-width: 650px;

    @include breakpoint($bp-xsm) {
      width: 650px;
    }
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  text-align: center;
  align-items: center;

  .eyebrow {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 5px 0;
    border-bottom: 3px solid $color-sunshine-yellow;
    width: fit-content;
    text-align: center;
    @include font-size-heading5;
    font-weight: bold;
  }

  h3 {
    font-weight: 100;
  }
  .body-text {
    @include font-size-heading5;
  }
}
  // Styles for Wide variation of Card

.card__eyebrow {
  display: block;
  font-size: 0.75rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1.5rem;

  @include breakpoint($bp-sm) {
    font-size: 2rem;
  }
}

.card__subhead {
  font-size: 1.25rem;
  font-weight: normal;

  @include breakpoint($bp-sm) {
    font-size: 1.5rem;
  }
}

.card__link {
  display: block;
  margin-top: 1.5rem;
}
