// Import site utilities.
@import 'src/global/utils/init';

.gallery-carousel__title {
  color: $color-sunshine-yellow;
  margin-bottom: 16px;
  text-align: center;
  text-decoration: underline;

  @include breakpoint($bp-md) {
    margin-bottom: 20px;
  }

  span {
    color: $color-navy-blue;
    position: relative;
  }
}

.gallery-carousel__intro-text {
  margin: 0 auto 20px;
  max-width: 800px;
  text-align: center;
}

.gallery-carousel__carousel {
  margin-bottom: 2rem;

}

.gallery-carousel__item {

  &:hover {

    > .gallery-carousel__item-text {
      opacity: 0.8;
    }
  }
}

.gallery-carousel__item-media {
  margin: 0 auto;
}

.gallery-carousel__item-text {
  background: $color-white;
  bottom: 0;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  transition: opacity 0.25s;
  width: 100%;
}

.gallery-carousel__nav {

  .slick-track {
    padding: 20px 0;
  }
}

.gallery-carousel__nav-item {

  &.slick-current {

    &::before {
      content: '\25B2';
      position: absolute;
      top: -26px;
      color: $color-blue;
      font-size: 1.75rem;
      left: 50%;
      margin-left: -12px;
    }
  }

  img:focus {
    outline: none;
  }
}

// Slick overrides
.gallery-carousel {
  .slick-prev,
  .slick-next {
    height: 50px;
    width: 50px;
    z-index: 1;

    &::before {
      color: $color-blue;
      font-size: 48px;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slick-dots {
  position: relative;

  li {
    border: 2px solid $color-silver;
    height: auto;
    margin: 0 5px;
    padding: 10px;
    width: auto;
  }

  li button {
    height: auto;
    max-width: 90px;
    padding: 0;
    width: auto;
  }

  li button::before {
    display: none;
  }
}
