// Import site utilities.
@import 'src/global/utils/init';

.gallery-carousel__title {
  color: $color-sunshine-yellow;
  margin-bottom: 16px;
  
  text-decoration: underline;
  
  @include breakpoint($bp-sm) {
    text-align: center;
  }

  @include breakpoint($bp-md) {
    margin-bottom: 20px;
  }

  span {
    color: $color-navy-blue;
    position: relative;
  }
}

.gallery-carousel__intro-text {
  margin: 0 auto 20px;
  max-width: 800px;

  @include breakpoint($bp-sm) {
    text-align: center;
  }
}

.gallery-carousel__carousel {
  margin-bottom: 2rem;
}

.gallery-carousel__item-media {
  margin: 0 auto;
}

.gallery-carousel__item-text {
  background-color: $color-white;
  font-size: 1.6rem;
  padding: 20px 50px;
  width: 100%;

  @include breakpoint($bp-sm) {
    border-top: 2px solid $color-basic-gray;
    padding: 30px 150px
  }
}

.gallery-carousel__nav .slick-track {
  align-items: center;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

// Main Slick list overrides.
.gallery-carousel .slick-list {
  box-shadow: 0 2px 7px 0 rgba($color-black, 0.4);
}

// Slick prev/next button overrides
.gallery-carousel {

  .slick-prev,
  .slick-next {
    height: 30px;
    width: 30px;
    z-index: 1;

    @include breakpoint($bp-sm) {
      height: 40px;
      width: 40px;
    }

    @include breakpoint($bp-md) {
      height: 50px;
      width: 50px;
    }

    &::before {
      color: $color-gray-overlay;
      font-size: 3rem;
      opacity: 0.25;

      @include breakpoint($bp-sm) {
        font-size: 4rem;
      }

      @include breakpoint($bp-md) {
        font-size: 5rem;
      }
    }
  }

  .slick-prev:hover::before,
  .slick-next:hover::before,
  .slick-prev:focus::before,
  .slick-next:focus::before {
    opacity: 0.75;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }
}

// Lower pager.
.gallery-carousel .slick-dots {
  padding: 20px 0 0;
  position: relative;
  top: 0;

  li {
    height: auto;
    margin: 0 5px 10px;
    padding: 10px;
    width: auto;
  }

  li::before {
    background-color: transparent;
    content: '';
    display: block;
    height: calc(100% - 8px);
    left: 4px;
    position: absolute;
    z-index: $zi-ground;
    top: 4px;
    transition: background-color $motion-fast;
    width: calc(100% - 26px);
  }

  li.slick-active::before {
    background-color: $color-sunshine-yellow;
  }

  li .gallery-carousel__nav-item {
    background-color: $color-white;
    border: 2px solid $color-silver;
    box-shadow: 0 1px 3px 0 rgba($color-black, 0.4);
    height: auto;
    max-width: 90px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: $zi-low;

    @include breakpoint($bp-sm) {
      max-width: 100px;
    }
    
    @include breakpoint($bp-md) {
      max-width: 140px;
    }
  }

  li .gallery-carousel__nav-item::before {
    display: none;
  }
}
