// Global layout styling.

.page {
  @include clearfix;
  background-color: $color-gray-lighter;
  overflow: hidden;
  position: relative;
}

.page__content-skip-link {
  @include element-focusable;
  background-color: $color-navy-blue;
  color: $color-white;
  display: block;
  padding: 3px;
  text-align: center;
}
