// Standard component section structural styling.

.section {
  position: relative;
}

.section__container {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 100%;

  @include breakpoint($bp-lg) {
    max-width: 1280px;
    padding: 60px 0;
  }
}

.section__content-container {
  margin: 0 auto;
  max-width: calc(100% - 30px);
}
