// Button
//
// This is the button component. It's an example.
//
// Markup: button.twig
//
// .button--small - Smaller version of default button.
//
// Style guide: Components.Button

// Import site utilities.
@import 'src/global/utils/init';

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;

  &::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    top: -4px;
    left: -3px;
  }

  & .btn-text {
    color: $color-navy-blue;
    mix-blend-mode: darken;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
  }

  &:hover {
    &::before {
      background: $color-sunshine-yellow;
      width: 100%;
    }
  }

  //rounded btn styles
  &.rounded {
    border-radius: 50px;
    background-color: white;

    &::before {
      border-radius: 50px;
      width: 50px;
      height: 50px;
      background: $color-sunshine-yellow;
    }

    &:hover {
      &::before {
        background: $color-sunshine-yellow;
        width: 100%;
      }
    }
  }
}
