// Import site utilities.
@import 'src/global/utils/init';

.map__container {
  background-color: $color-barely-gray;
  padding: 20px;
}

.map {
  background-color: white;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: -2px 2px 2px 0px rgba($color-gray-overlay, 0.55);
  -moz-box-shadow: -2px 2px 2px 0px rgba($color-gray-overlay, 0.55);
  box-shadow: -2px 2px 2px 0px rgba($color-gray-overlay, 0.55);
}
// Styles for two-colum map layout.
// Includes address text.
.map--2col {
  align-items: center;
  flex-direction: column;

  @include breakpoint($bp-xsm) {
    flex-direction: row-reverse;
  }

  .map__wrapper {
    width: 100%;
    margin-right: 35px;

    @include breakpoint($bp-xsm) {
      flex: 1;
    }
  }

  .map__embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .map__text {
    width: 100%;
    margin: 1.5rem 0 0;

    @include breakpoint($bp-xsm) {
      flex: 1;
      margin: 0 0 0 1.5rem;
    }

    @include breakpoint($bp-lg) {
      margin: 0 0 0 4rem;
    }

    h2 {
      margin-bottom: 50px;
      text-decoration: underline $color-sunshine-yellow;
      font-size: 6rem;

      @include breakpoint($bp-xsm) {
        width: fit-content;
      }
    }

    .map__address {
      line-height: 1.625;

      @include breakpoint($bp-xsm) {
        font-size: 1.5rem;
      }
    }

    .map__location {
      font-size: 1.5rem;
      font-weight: normal;

      @include breakpoint($bp-xsm) {
        font-size: 6rem;
      }
    }
  }
}

// Styles for full-width map embed.
// No address text included.
.map--full {
  max-height: 250px;
  overflow: hidden;

  @include breakpoint($bp-xsm) {
    max-height: 300px;
  }

  @include breakpoint($bp-lg) {
    max-height: 395px;
  }

  .map__embed {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @include breakpoint($bp-xsm) {
        height: 50%;
      }

      @include breakpoint($bp-lg) {
        height: 35%;
      }
    }
  }
}

.map__text-eyebrow {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.map__body {
  display: flex;
  justify-content: space-evenly;
}
