// Body
//
// This is the body component. It's an example.
//
// Markup: body.twig
//
// Style guide: Components.Body

// Import site utilities.
@import '../../global/utils/init';

.body-text {
  font-size: 1.6rem;
  line-height: 1.5;

  p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 20px;
    padding-right: 8rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-bottom: 12px;
  }

  h2 {
    @include font-size-heading2;
  }
  
  h3 {
    @include font-size-heading3;
  }
  
  h4 {
    @include font-size-heading4;
  }
  
  h5 {
    @include font-size-heading5;
  }
  
  .h6 {
    @include font-size-heading6;
  }
}
