@import 'src/global/utils/init';

.card-list--container {
  padding-top: 100px;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($bp-md) {
    flex-direction: row;
    padding-top: 150px;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }

  @include breakpoint($bp-lg) {
    justify-content: flex-start;
  }

  h2 {
    margin-bottom: 50px;
    border-bottom: 10px solid #E4B038;
    text-align: left;

    @include breakpoint($bp-xsm) {
      width: fit-content;
    }
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 100%;
  
  @include breakpoint($bp-xsm) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include breakpoint($bp-sm) {
    justify-content: space-between;
  }
}

.card-list__item {

  @include breakpoint($bp-xsm) {
    margin: 0 0 0 2.5rem;
    flex: 0 0 45%;
  }

  @include breakpoint($bp-lg) {
    flex: 0 0 22%;
  }
}

.card-list--wide {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 1.5rem;
  flex-direction: column;

  .card-list__item {
    border-bottom: 2px solid $color-alto;
    margin: 0 0 2.5rem;
    padding: 0 0 2.5rem;

    &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .card__media {
      flex: 1;
    }

    .card__content {
      flex: 2;
    }

    .card__title {
      margin: 0;
    }
  }
}
