@import '../../global/utils/init';

.contact-us {
  max-width: 800px;
  margin: 0 auto;

  .title {
    border-bottom: 10px solid $color-sunshine-yellow;
    width: fit-content;
    margin: 0;

    @include breakpoint($bp-sm) {
      margin-left: 50px;
    }
    @include breakpoint($bp-md) {
      margin-left: 0;
    }
  }
}
.contact__content-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: $zi-lowest;
  
  @include breakpoint($bp-sm) {
    max-width: calc(100% - 100px);
  }
  
  @include breakpoint($bp-md) {
    max-width: calc(100% - 0px);
  }
  
  &::after {
    background-color: $color-basic-gray;
    content: '';
    display: block;
    height: 40px;
    right: 0;
    position: absolute;
    top: -16px;
    width: calc(100% - 175px);
    z-index: $zi-ground;

    @include breakpoint($bp-xsm) {
      width: calc(100% - 229px);
    }

    @include breakpoint($bp-sm) {
      width: calc(100% - 228px);
    }
    @include breakpoint($bp-md) {
      width: calc(100% - 298px);
    }
  }
}
.contact-us__contact-items {
  display: flex;
  background-color: $color-white;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
  padding: 25px;
  position: relative;
  z-index: 10;
  flex-direction: column;

  @include breakpoint($bp-md) {
    flex-direction: row;
  }

  h4 {
    font-weight: 100;
  }
}
.contact-us__items {
  flex: 1;
  padding: 15px;
}

.form-item {
  position: relative;

  +.form-item {
    margin-top: 20px;
  }
}

.form-item__input {
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  color: $color-black;

  &:focus {
    border: 1px solid $color-blue;
    box-shadow: 0 0 6px $color-blue;
    outline: none;
  }
}

.form-item__label {
  left: 16px;
  position: absolute;
  top: 16px;
  transition: transform 0.25s;
  color: $color-gray-overlay;
  font-weight: 100;

  .floated &,
  .form-item__input:focus+& {
    transform: translate(-10px, -10px);
    font-size: 0.5rem;
  }
}

input[aria-invalid],
textarea[aria-invalid] {

  +span {
    display: block;
  }
}

.required-field {

  &::after {
    content: '*';
    color: $color-req-red;
    display: inline-block;
  }
}

input[type='submit'] {
  margin-top: 20px;
}

.visually-hidden {
  display: none;
}

textarea#message {
  height: 100px;
}

.contact-button-submit {
  text-align: center;
  padding-top: 25px;
}