@import 'src/global/utils/init';

.breaker {
  margin-top: 50px;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;

  @include breakpoint($bp-xsm) {
    margin-top: 50px;
  }

  @include breakpoint($bp-lg) {
    margin-top: 100px;
  }
 

  .breaker__hero {
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .breaker__container {
    margin: -100px 60px 0;
    position: relative;
    z-index: 10;
  }

  .breaker__content-container {
    background-color: white;
    padding: 25px 25px 50px;
    border: 2px solid $color-basic-gray;
    margin: 0 -30px;
    position: relative;

    @include breakpoint($bp-xsm) {
      margin: 0 60px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: -20px;
      height: 112px;
      width: 100%;
      z-index: -10;
      background-color: $color-basic-gray;
    }

    .breaker__cta {
      margin-bottom: 30px;
      text-align:center;
    }

    .breaker__heading {
      border-bottom: 10px solid $color-sunshine-yellow;
      margin: 25px 0;
      width: fit-content;
    }

    .eyebrow {
      @include font-size-heading5;
      border: 0;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .body-text {
      padding-bottom: 30px;
      @include font-size-heading5;

      @include breakpoint($bp-sm) {
        @include font-size-heading4;
      }
    }
  }
}